body{
	background-image: url("../images/bg.gif");
}
.show{
	border: 1px solid green;
}
#box-perspective{
	width: 10rem;
	height: 10rem;
	margin: auto;
	margin-top: 10rem;
	perspective: 50rem;
	perspective-origin: 50% 50%;
	border: 2px solid red;
}
#box-preserve-3d {
	position: absolute;
	width: 10rem;
	height: 10rem;
	transform-style: preserve-3d;
	transform: rotateX(45deg) rotateY(45deg);
	animation: xuanzhuan 10s ease 1s infinite reverse none; 
}
@keyframes xuanzhuan
{
	0%{
		transform: rotateX(0deg) rotateY(0deg);
	}
	100%{
		transform: rotateX(360deg) rotateY(360deg);
	}
}
#box-preserve-3d div {
	position: absolute;
	width: 10rem;
	height: 10rem;
	text-align: center;
	line-height: 10rem;
}
#up{
	transform: rotateX(90deg) translateZ(5rem);
}
#down{
	transform: rotateX(-90deg) translateZ(5rem);
}
#left{
	transform: rotateY(90deg) translateZ(5rem);
}
#right{
	transform: rotateY(-90deg) translateZ(5rem);
}
#front{
	transform: translateZ(5rem);
}
#back{
	transform: translateZ(5rem) rotateY(-180deg);
}
#loginbox{
	display: none;
}